.navigation{
    background-color: aqua;
    float: right;
    width: 100vw;
    position:absolute;
}
.body{
    background-image:url("https://c4.wallpaperflare.com/wallpaper/83/798/394/spices-pepper-garlic-cutting-board-wallpaper-preview.jpg");
    height: 97.5vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    padding:300px 200px 300px 200px;
    margin-left:30%;
    font-family: Verdana;
    font-weight:bold;
    font-size:50px;
    float: right;
    /* justify-content: center; */
    
}   
/* /* .head1{
    padding:400px 300px 200px 100px;
    margin-left:30%;
    font-family: Verdana;
    font-weight:bold;
    font-size:30px;
    
    /* justify-content: center; */
    
    
